<!DOCTYPE html> 
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
    </head>

    <h1>
        <a>Blog</a>
    </h1>
    <nav>
        <a href="/dash">Dashboard</a>
        <a href="/posts">Posts</a>
        <a href="/posts/new">New Post</a>
        
    </nav>

    <main>
        {{> body}}

    </main>

    <footer>
        <p>© 2023 Blog</p>
    </footer>

    <script src="/login.js">
    
    </script>
    </html> 